<div class="ryan-soren-form">
  <form action="/users/<%= @user.id %>/savephone" method="get">
    <label>Enter your phone:</label>
    <input type="text" name="phone">
    <input type="submit" value="Save">
  </form>
</div>
