<% unless current_user %>
  <div class="band header front-page">
      <div class="row">
        <div class="twelve columns">
          <h1 class="logo">keep &nbsp your &nbsp friends &nbsp close</h1>
          <a href="/auth/facebook">
            <img src="/login_with_facebook.png">
          </a>
        </div>
      </div>
  </div>
<% end %>
